{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>
		Conquista Delivery:
		Home	</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}" />

    <script type="text/javascript" src="{% static "js/jquery-1.7.1.min.js" %}">
    </script>
    </script>
    <script type="text/javascript" src="{% static "js/FF-cash.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tms-0.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tms_presets.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.easing.1.3.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/jquery.equalheights.js" %}">
    </script>
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        	<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
	<![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
	<![endif]-->
	<script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-52456869-1', 'auto');
          ga('send', 'pageview');
    </script>
</head>
<body id="page1">
	<!--==============================header=================================-->
    <header>
    	<div class="row-top">
        	<div class="main">
            	<div class="wrapper">
                	<h1 ><a class="logo-top" href="/">
                        <span class="left">Conquista</span>
                        <span class="right">Delivery</span>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <!--==============================content================================-->
    <section id="content" class="row-bot">
    {% block content %}
    {% endblock %}
	</section>
	 <footer>
        <div class="main">
        	<div class="aligncenter">
            	<span>ConquistaDelivery &copy; 2014</span>
            </div>
        </div>
    </footer>
</body>
</html>
