{% extends "conquistaDelivery/default.html" %}
{% load staticfiles %}
{% block content %}
    <div>
        <div class="main">
            <div id="search-div" style="height:500px; background: url(static/img/slider-img{{index_img}}.jpg) no-repeat top center;">
                <form id="main-form" action="{% url 'search' %}" method="post" >
                    {% csrf_token %}
                    <input type="text" name="search" placeholder="O que gostaria de provar?">
                </form>
            </div>
            <div id="nav-home">
            	<div class="nav-estabelecimentos">
            		<p class="title"><a href="/estabelecimentos/">Estabelecimentos</a></p>
                    <ul>
                    {% for estabelecimento in estabelecimentos %}
                        <li><a href="/{{ estabelecimento.slug }}">{{ estabelecimento.nome }}</a></li>
                    {% endfor %}
                    </ul>
            	</div>
            	<div class="nav-cozinhas">
            		<p class="title">Cozinhas</p>
                    <ul>
                    {% for cozinha in cozinhas %}
                        <li> <a href="/cozinha/{{ cozinha.slug }}">{{ cozinha }}</a></li>
                    {% endfor %}
                    </ul>
            	</div>
            </div>
        </div>
    </div>
        
{% endblock %}
