{% extends "conquistaDelivery/default.html" %}
{% load staticfiles %}
{% block content %}
	<div>
		{% for produto in produtos %}
			<div class="cardapio-result">
				<img src="{% static "img/default.jpeg"%}" width="75" height="50"></img>
				<div >
					<p><strong>{{ produto }}</strong></p>
					<p>{{ produto.showComponentes }}</p>
					<p>{{ produto.estabelecimento }}</p>
				
				</div>
				<div >
					<p>{{produto.preco}}</p>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
