{% extends "conquistaDelivery/default.html" %}
{% load staticfiles %}
{% block content %}
    <div>
        {% for estabelecimento in estabelecimentos %}
            <div class="generic-result">
                <img src="http://www.artvizion.com.br/wp-content/uploads/2013/04/logo-013.jpg" width="150" height="100"></img>
                <div class="est">
                    <p class="est-nome">{{estabelecimento.nome}}</p>
                    <p class="est-contato">(77)5555-6969</p>
                    <p class="est-endereco">rua alguém importante - nº 00, bairro</p>
                    <p class="est-cozinhas">Italiana, Japonesa, Tailandesa, Portuguesa</p>
                </div>
                <div class="est-info">
                    <a class="link-cardapio" href="/{{estabelecimento.slug}}">Ver Cardápio</a>
                </div>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}
