/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html {width:100%;}
body {font-family:Arial, Helvetica, sans-serif;font-size:100%; color:#F2F2F2;min-width:960px;background:#F2F2F2}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.bg {width:100%; background:url(../img/bg-top.jpg) center 0 no-repeat;}

.main {
	width:960px; 	
	margin: 0 auto;
	font-size:13px;
	line-height:25px;
}
.container {
	width:940px; 	
	padding:0;
	margin:0 auto;
}

a {color:#7f7f7f; outline:none;}
a:hover {text-decoration:none;}

.col-1, .col-2,
.column-1, .column-2 {float:left;}

.wrapper {width:100%; line-height: 100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
 
p {margin-bottom:18px;}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.it {font-style:italic;}

.color-1 {color:#fff;}
.color-2 {color:#c42e02;}
.color-3 {color:#769e02 !important;}

.img-border {border:10px solid #fff;}

/*********************************boxes**********************************/
.indent {padding:20px;}
.indent-left {padding-left:10px;}
.indent-right {padding-right:50px;}

.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.prev-indent-bot {margin-bottom:10px;}
.img-indent-bot {margin-bottom:25px;}
.margin-bot {margin-bottom:35px;}

.img-indent {float:left; margin:0 30px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.buttons a:hover {cursor:pointer;}

.menu li a,
.list-1 li a,
.link,
.button-1,
.button-2,
h1 a {text-decoration:none;}	

/*********************************header*************************************/
header {
	width:100%;
	background:#f2f2f2;
	position:relative; 
	z-index:2;
}

.row-top {
	width:100%;
	background:url(../img/red-texture.png);
}

h1 {
	width: 100%;
	text-align: center;
	padding:0px 0 0 10px; 
	float:left;
}
	h1 a {
		display:inline-block;
		font-size:50px;
		font-weight:normal;
		line-height:1.4em;
		color:#fff;
		letter-spacing:-3px;
		margin-top:-10px;
	}
		h1 a span {color:#c52e02}
		
h2 {
	font-size:60px;
	font-weight:normal;
	line-height:108px;
	color:#fff;
	text-align:center;
}
	h2 span {color:#000;}
	#page1 h2 {margin-bottom:9px;}
a.logo-top{
	width: 100%;
	height: 100px;
	line-height: 100px;
	background: url('../img/logo-top.png') no-repeat center bottom; 
}
a.logo-top span.left{
	color: #FFF;
	margin-right: 140px;
}
a.logo-top span.right{
	color: #FFF;
	margin-right: 50px;
} 
	
/***** menu *****/
.menu {
	padding:15px 10px 0 0; 
	float:right;
}
.menu li {
	float:left;
	padding-left:40px;
}
.menu li a { 
	font-size:14px;
	font-family: sans-serif;
	font-weight: bold; 
	line-height:18px; 
	padding:0; 
	color:#fff; 
}
.menu li.active a,
.menu li a.active,
.menu > li > a:hover {color:#000;}

.row-bot {
	width:100%;
}
.row-bot-bg {
	width:100%;
	min-height:122px;
	background:url(../img/row-bot-bg.jpg) center top no-repeat;
}

/***** slider *****/
.slider-wrapper {
	width:940px;
	height:466px;
	padding:10px;
	background:#fff;
	overflow:hidden;
}
.slider {
	width:940px;
	height:466px;
}
.items {display:none;}

.pagination {
	position:absolute;
	left:427px;
	bottom:19px;
	z-index:99;
}
	.pagination li {
		float:left;
		padding-right:4px;
	}
	.pagination a {
		display:block;
		width:26px;
		height:26px;
		background:url(../img/slider-pagination.png) right top no-repeat;
		cursor:pointer;
	}
	.pagination li.current a {cursor:default;}
	.pagination li.current a,
	.pagination a:hover {background-position:left top;}

/*********************************content*************************************/
#content {
	margin: 0 auto;
	width:80%;
	background:#f2f2f2;
	position:relative;
	z-index:1;
}
#content > div{
	margin: 0 auto;
}

.spacer-1 {
	width:100%; 
	background:url(../img/pic-1.gif) 217px 0 repeat-y;
}

h3 {
	font-size:24px; 
	line-height:2em; 
	color:#404040;
	font-weight:normal;
	letter-spacing:-1px;
	margin-bottom:5px;
}
h5 {margin-bottom:2px;}
h6 {color:#769e02;}

.border-bot {
	width:100%; 
	padding-bottom:20px; 
	background:url(../img/pic-1.gif) 0 bottom repeat-x;
}

.box {
	width:100%; 
	background:url(../img/box-tail.gif) 0 0 repeat-x;
}

.button-1 {
	display:inline-block; 
	padding:12px 19px;
	font-size:13px;
	line-height:1.23em;
	color:#fff; 
	background:url(../img/button1-tail.gif) 0 0 repeat-x #c42e02;
	cursor:pointer;
}
.button-1:hover {background:#c42e02;}

.button-2 {
	display:inline-block; 
	padding:12px 19px;
	font-size:13px;
	line-height:1.23em;
	color:#fff; 
	background:url(../img/button2-tail.gif) 0 0 repeat-x #779f02;
	cursor:pointer;
}
.button-2:hover {background:#779f02;}

.list-1 li {
	line-height:18px; 
	padding:6px 0 6px 20px; 
	background:url(../img/marker-1.png) 0 12px no-repeat;
}
	.list-1 a {
		display:inline-block;
		color:#7f7f7f;
	}
	.list-1 a:hover {color:#d53a03; text-decoration:underline;}
	.list-1 span {display:block; line-height:25px; padding:8px 0 17px;}
	.list-1 strong {display:block;}
	
.list-2 {width:270px;}
.list-2 dt {font-weight:bold; margin-bottom:5px;}
.list-2 dt,
.list-2 dd {width:100%; overflow:hidden;}
.list-2 em {font-style:normal; float:left;}
.list-2 span {float:right; text-align:right; width:auto; font-weight:normal;}
.list-2 dt span {font-weight:bold;}

.price-list li {
	overflow: hidden; 
	vertical-align: top;
	line-height: 18px;
	padding:6px 0 6px 20px;
	background:url(../img/marker-2.png) 0 12px no-repeat;
}
	.price-list strong {
		display: block; 
		overflow: hidden;
	}
	.price-list span {
		float: right;
		color: #7f7f7f;
	}
	.price-list a {
		float: left;
		text-decoration: none;
		color: #7f7f7f;
	}
	.price-list a:hover {color:#81a60b; text-decoration:underline;}

.link:hover {text-decoration:underline;} 

.link-1 {
	display:inline-block; 
	font-size:14px; 
	padding-right:8px; 
	background:url(../img/marker-3.gif) right 8px no-repeat;
}
.link-1:hover {color:#fff;} 

.text-1 {font-size:14px;} 

dl span {float:left; width:96px; font-weight:bold;}

#nav-home{
	padding:0;
	width: 100%;
	min-height: 30%;
	background: url("../img/kraft-paper-bkgd.png") repeat scroll 0 0 #D13133;
}
#nav-home > div{
	display: inline-block;
	width: 47%;
	padding: 10px;
}
#nav-home ul li{
	display: inline-block;
	width: 30%;
}
#nav-home a{
	color: #FFF;
	text-decoration: none;
}
#nav-home a:hover{
	text-decoration: underline;
}
.title{
	font-size: 20px;
	font-weight: bold;
}
		
/****************************footer************************/
footer {
	width:100%; 
	padding:23px 0 30px;
	background: url(../img/red-texture.png);
	color:#fff;
}
	footer a {color:#c42e02;}
	footer span {display:block;}
	footer .main {font-size:14px; line-height:25px;}

.list-services {
	padding:0;
}
.list-services li {
	float:left; 
	padding:0 0 0 10px;
}
#search-div {
	margin-top: 10px;
	height: 470px!important;
}
#search-div form{
	position: relative;
	top: 30%;
}
#main-form{
	background-color: #000;
	opacity: 0.8;
	width: 40%;
	margin:0 auto;
	padding: 50px;
}

#main-form input{
	height: 40px;
	width: 100%;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	color: #000;
}
/**
* Listagens
*/
.cardapio-result, .generic-result{
	width: 80%;
	border-bottom: 1px solid #A2A2A2;
	margin: 5px auto;
	position: relative;
	color: #000;
}
.cardapio-result img, .generic-result img{
	float: left;
}
.cardapio-result p, .generic-result p{
	margin:0;
}
.cardapio-result div, .generic-result div{
	display: inline-block;
	height: 100%;
	width: 40%;
}
.generic-result{height: 100px;}
.cardapio-result{height: 50px;}

.tp-produto{
	font-size: 25px;
	height:100px;
	line-height: 100px;
	border: none!important;
}
/**
* ESTABELECIMENTOS
*/
.est-capa{
	width: 800px;
	height: 200px;
	margin: 0 auto;
	position: relative;
}
p.est-capa-nome{
	position: absolute;
	font-size: 26px;
	color: #FFF;
	left: 20px;
	bottom: 20px;
}
.est-logo-home{
	width: 150px;
	height: 150px;
	border: 1px solid #A2A2A2;
	overflow: hidden;
	position: absolute;
	bottom: -60px;
	right: 20%;
	border-radius: 150px;
	border: 10px solid #F2F2F2;
	z-index: 2;
}

p.est-nome{
	font-size: 22px;
	font-weight: bold;
}
p.est-contato{
	font-weight: bold;
	font-size: 18px;
}
p.est-endereco, p.est-cozinhas{
	font-size: 12px;
}
p.est-cozinhas{
	position: absolute;
	bottom: 10px;
}
.est-info{
	text-align: center;
}
.link-cardapio{
	display: inline-block;
	width: 50%;
}
/**
*	CARDÁPIO
*/
.cardapio{
	margin-top: 75px;
}