{% extends "conquistaDelivery/default.html" %}
{% load staticfiles %}
{% block content %}
	<div>
		<div class="est-capa"
			 style="background: url('/static/img/capa-default.png') top center;">
			<div class="est-logo-home">
				<img src="{% static "img/default.jpeg"%}" width="150" height="150"></img>
			</div>
			<p class="est-capa-nome">{{ estabelecimento.nome }}<p>
		</div>
		<div class="cardapio" >
			{% for produto in produtos %}
				<div class="cardapio-result tp-produto">
						<strong>{{ produto.tipoProduto }}</strong>
				</div>
					{% for item in produto.produtos %}
						<div class="cardapio-result">
							<img src="{% static "img/default.jpeg"%}" width="75" height="50"></img>
							<div >
								<p><strong>{{ item }}</strong></p>
								<p>{{ item.showComponentes }}</p>
							
							</div>
							<div >
								<p>{{item.preco}}</p>
							</div>
						</div>
					{% endfor %}
					
			{% endfor %}
		</div>
	</div>
{% endblock %}
